.content-block {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  .content-block .line {
    height: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("/assets/images/line-black.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .content-block .line-white {
    background-image: url("/assets/images/line-white.svg"); }
  .content-block .line-yellow {
    background-image: url("/assets/images/line-yellow.svg"); }

.content-text {
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 18px;
  word-spacing: 3px;
  line-height: 35px; }

@media screen and (max-width: 576px) {
  .content-block {
    background-color: #FED230; }
    .content-block .container {
      background-color: white;
      width: 95%; } }

.square-button {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10; }
  .square-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, #F5A337, #FEDE2A);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s; }
  .square-button:hover::before {
    opacity: 1;
    transition: opacity 0.3s; }
  .square-button:hover .square-button-text {
    color: white;
    transition: color 0.3s; }
  .square-button:hover .square-button-desc {
    color: white;
    transition: color 0.3s; }
  .square-button:hover .square-button-image svg path, .square-button:hover .square-button-image svg polygon, .square-button:hover .square-button-image svg mask {
    fill: white;
    transition: fill 0.3s; }
  .square-button-background {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: #fafafa;
    z-index: -1; }
  .square-button-image {
    text-align: center;
    z-index: 10; }
    .square-button-image svg path, .square-button-image svg polygon, .square-button-image svg mask {
      fill: #9f9f9f;
      transition: fill 0.3s; }
  .square-button-grid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 68px auto; }
  .square-button-text {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #9f9f9f;
    transition: color 0.3s;
    z-index: 10; }
  .square-button-desc {
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 200;
    transition: color 0.3s;
    z-index: 10; }
  .square-button-extra {
    display: none; }

@media screen and (max-width: 576px) {
  .service-block .container {
    padding: 0; }
  .square-button {
    padding: 25px; }
    .square-button-grid {
      width: 100%; }
    .square-button-text {
      font-size: 12px; }
    .square-button-extra {
      display: flex; } }

.content-last {
  background-color: #131313;
  color: #FDD942; }
  .content-last .content-inner {
    width: 100%;
    position: relative; }
  .content-last .container {
    background-color: #131313; }
  .content-last .subtitle {
    font-size: 20px;
    font-weight: 100; }
  .content-last .say-hi {
    top: 20%; }

@media screen and (max-width: 576px) {
  .content-last .container {
    width: 100%; } }

.top-background {
  height: 75vh;
  text-align: center; }
  .top-background .subtitle {
    font-size: 14px;
    font-weight: 200; }
  .top-background .slogan {
    font-size: 45px;
    font-weight: 100; }

.top-placeholder {
  height: 75vh; }

.top-arrow {
  position: absolute;
  bottom: 27px;
  left: 50%; }

.polygons {
  width: 80%;
  height: 350px;
  margin: 0 auto;
  position: relative; }
  .polygons .background {
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg); }
  .polygons .polygon-label {
    font-size: 20px; }
  .polygons .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .polygons .arrow-label {
      font-size: 14px; }

.block-2 {
  background-color: #fafafa; }
  .block-2 .background {
    position: absolute;
    left: 0;
    right: 0; }
    .block-2 .background img {
      width: 60%; }
  .block-2 .blank {
    height: 500px; }

.block-3 {
  background-image: linear-gradient(0, #F5A337, #FEDE2A);
  color: white; }

@media screen and (max-width: 576px) {
  .content-block, body {
    background-color: white; }
  .top-background .slogan {
    font-size: 25px;
    font-weight: 200; }
  .polygons {
    width: 100%; }
    .polygons .polygon-label {
      font-size: 14px; }
    .polygons .arrow {
      margin-bottom: 30px; }
  .polygon {
    margin-bottom: 30px; }
  .block-2 .background {
    bottom: 50px; }
    .block-2 .background img {
      width: 90%; }
  .block-2 .blank {
    height: 200px; }
  .block-3 {
    background-image: none; }
    .block-3 .container {
      width: 100%; }
    .block-3 .title, .block-3 .content-text {
      color: black; }
    .block-3 .line {
      background-image: url("/assets/images/line-black.svg"); }
    .block-3 .icon-item {
      margin-bottom: 50px; }
    .block-3 .icon-block {
      background-image: linear-gradient(45deg, #F5A337, #FEDE2A);
      padding-top: 50px; } }
